body, html {
  height: 100%;
  min-height:100%
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
}
.app-card{
  box-shadow: 0px 2px 5px 2px gray;
  width: 30%;
}
.App-link {
  color: #61dafb;
}
.color{
  background-color: #3361AD;
}
.sidenav---sidenav---_2tBP{
  min-height: 92vh !important; /* browser fill */
  height: auto !important;      
  background-color: #081E42!important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
